<div class="flex flex-col flex-auto min-w-0">
  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
    <!-- CONTENT GOES HERE -->
    <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">

      <form [formGroup]="inscriptionDetailsForm" #inscriptionDetailNgForm="ngForm" (ngSubmit)="onSubmit()">
        <!-- Event Name -->
        <mat-form-field class="mb-6">
          <mat-label>Event Name</mat-label>
          <input matInput formControlName="eventName" type="text" required>
        </mat-form-field>

        <!-- User Name -->
        <mat-form-field class="mb-6">
          <mat-label>User Name</mat-label>
          <input matInput formControlName="userName" type="text" required>
        </mat-form-field>

        <!-- Name -->
        <mat-form-field class="mb-6">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" type="text" required>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="mb-6">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" required>
        </mat-form-field>

        <!-- Status -->
        <mat-form-field class="mb-6">
          <mat-label>Status</mat-label>
          <input matInput formControlName="status" type="text" required>
        </mat-form-field>

        <!-- Alert -->
        <div *ngIf="showAlert" class="mb-6">
          <fuse-alert [type]="alert.type">{{ alert.message }}</fuse-alert>
        </div>

        <!-- Actions -->
        <div class="flex justify-end">
          <button mat-flat-button type="submit" [color]="'primary'" class="mr-3">Save</button>
          <button mat-flat-button type="button" [color]="'warn'" (click)="goToInscriptionsList()">Cancel</button>
        </div>

      </form>

    </div>
  </div>
</div>
