<div class="my-account">
  <div class="header-title" style="background: url(assets/images/background/header.jpg);">
    <div class="container" id="mainDIV">
      <div class="title">
        <h2>Profile</h2>
      </div>
    </div>
  </div>
  <div class="my-acc sec-padding" style="background: url(assets/images/background/download.svg);">
    <div class="container">
      <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0">
        <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
          <form [formGroup]="profileForm" (ngSubmit)="profile()">
          <div class="register-wrapper pr-15" fxFlex="70" fxFlex.gt-md="70" fxFlex.md="70">
            <div class="title">
              <!-- <h3>Register</h3> -->
            </div>
            <div class="register-wrapper pr-15" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
            </div>
            <div class="register-body" >
              <!-- <p>Create new account today to reap the benefits of a personalized food experience.</p> -->
              <div fxLayout="row wrap">

                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Email" name="email" formControlName="email">
                    <mat-error *ngIf="
                    profileForm.get('email').invalid &&
                    profileForm.get('email').touched
                ">
                      Email is required and should be a valid email
                      address
                    </mat-error>
                  </mat-form-field>
                </div>


                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Phone +216XXXXXXXX" name="phone" formControlName="phone">
                    <mat-error *ngIf="
                    profileForm.get('phone').invalid &&
                    profileForm.get('phone').touched
                ">
                      Phone is required and should be a valid Tunisian phone number
                    </mat-error>
                  </mat-form-field>
                </div>

                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="name" name="name" formControlName="name">
                    <mat-error *ngIf="
                        profileForm.get('name').invalid &&
                        profileForm.get('name').touched
                    ">
                      Name is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <mat-checkbox formControlName="updatePassword" (change)="togglePasswordValidation()">
                    Update Password
                  </mat-checkbox>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1"
                  *ngIf="updatePassword">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Password" type="password" name="password" formControlName="password">
                    <mat-error *ngIf="
                    profileForm.get('password').invalid &&
                    profileForm.get('password').touched
                ">
                      Password should have at least one lowercase letter, one uppercase letter, and one digit, and its
                      length should be at least 8 characters
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- 
                <p>Your personal data will be used to support your experience throughout this website, to manage access
                  to your account, and for other purposes described in our privacy policy.</p> -->
                <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <button [disabled]="profileForm.invalid" class="btn-project" mat-raised-button color="primary"
                    type="submit">Save</button>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <mat-error ngClass.sm="mt-1" *ngIf="profileErrMsg">{{profileErrMsg}}</mat-error>
                  <mat-hint ngClass.sm="mt-1" *ngIf="profileInfoMsg">{{profileInfoMsg}}</mat-hint>
                </div>
              </div>
            </div>
          </div>
          <div class="register-wrapper pr-15" fxFlex="30" fxFlex.gt-md="30" fxFlex.md="30">
            <img class="w-100" [src]="avatar ? avatar : 'assets/images/avatars/avatar.png'" alt="User avatar"
                    (click)="avatarInput.click()" />
                <input formControlName="photo" id="image" type="file" accept=".jpg,.jpeg,.png"
                    (change)="onAvatarChange($event)" #avatarInput style="display: none" />
          </div>
        </form>
        </div>
      </mat-card>
    </div>
  </div>

</div>