detail
<div class="blog-details">
    <div class="header-title" style="background: url(assets/images/background/header.jpg);">
        <div class="container" id="mainDIV">
            <div class="title">
                <h2>Event details</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br>Aenean commodo ligula eget dolor</p>
            </div>
        </div>
    </div>
    <div class="blog-details-wrapper sec-padding" style="background: url(assets/images/background/download.svg);">
        <div class="container">
            <div class="blog-list-wrapper sec-padding" fxLayout="row" fxLayout.lt-md="column">
                <div fxFlex="100" fxFlex.gt-sm="70" class="main-blog-panel">
                    <div class="single-blog-list">
                        <div class="image-box">
                            <img src="assets/images/blog/b1.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h4>Our Outstanding Event</h4>
                            <ul class="post-info" fxLayout="row">
                                <li><mat-icon color="primary" class="material-icons">access_time</mat-icon>Event Date</li>
                                <li><mat-icon color="primary" class="mat-icon-lg mat-icon material-icons">person</mat-icon>Event Organizer</li>
                                <li><mat-icon color="primary" class="material-icons">group</mat-icon>Available Places</li>
                            </ul>
                            <p>Aenean ligula nibh, molestie id viverra a, dapibus at dolor. In iaculis viverra neque Benenatis mauris Vestibulum ante ipsum primis in industry, logistics, finance, business orci ultrices venenatis mauris. It is a long established fact that a reader will be distracted.</p>
                            <p>Nullam et lacus ultricies, egestas dolor vel, consequat magna. Curabitur tellus mauris, lacinia in dolor sit amet, sollicitudin efficitur quam. Praesent vel dolor non tortor blandit mollis et a lacus. Nulla id congue sem. Vestibulum orci ligula, sollicitudin nec dignissim a, porttitor ac elit. Nam consequat quam mauris, sit amet convallis sapien venenatis nec.</p>
                            <div class="share-box">
                                <div class="social-box pull-right">
                                    <ul class="list-inline social">
                                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="register-button">
                                <a href="#" class="btn btn-primary">Register Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	