<div class="blog-column">
  <div class="header-title" style="background: url(assets/images/background/header.jpg);">
    <div class="container" id="mainDIV">
      <div class="title">
        <h2 (click)="scrollToEventDetails()">{{ event?.name }}</h2>
        <p>this is a test.<br>Aenean commodo ligula eget dolor</p>
      </div>
    </div>
  </div>
  <div class="blog-column-wrapper sec-padding" style="background: url(assets/images/background/download.svg);">
    <div class="container">
      <div class="blog-list-wrapper sec-padding" fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex="100" fxFlex.sm="60" fxFlex.gt-sm="70" class="main-blog-panel">
          <div class="single-blog-list" *ngFor="let event of events">
            <div class="image-box">
              <img src="assets/images/blog/b1.jpg" alt="">
            </div>
            <div class="text-box">
              <h4>
                <a [routerLink]="['/blog/blog-details', event?._id]">{{ event?.name }}</a>
              </h4>
              <ul fxLayout="row">
                <li><mat-icon color="primary" class="material-icons">access_time</mat-icon>{{ event?.date }}</li>
                <li><mat-icon color="primary" class="mat-icon-lg mat-icon material-icons">person</mat-icon>Marc Kurcek</li>
                <li><mat-icon color="primary" class="material-icons">sms</mat-icon>05 Comments</li>
              </ul>
              <p>{{ event?.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
