<div class="my-account">
    <div class="header-title" style="background: url(assets/images/background/header.jpg);">
      <div class="container" id="mainDIV">
        <div class="title">
          <h2>Forget password</h2>
          <p>To change your password please set your email</p>
        </div>
      </div>
    </div>
    <div class="my-acc sec-padding" style="background: url(assets/images/background/download.svg);">
      <div class="container">
        <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0">
          <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
            <div class="login-wrapper pr-50" fxFlex="100">
              <!-- <div class="title">
                <h3>Login</h3>
              </div> -->
              <form fxLayout="row wrap" #forgetPasswordForm="ngForm" (ngSubmit)="onSubmit(forgetPasswordForm)">
                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Email" [(ngModel)]="formData.email" name="email" #email="ngModel"
                      required email>
                    <mat-error *ngIf="email.invalid">
                      <div *ngIf="email.errors.required">Email is required</div>
                      <div *ngIf="email.errors.email">Invalid email format</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <button [disabled]="forgetPasswordForm.invalid" class="btn-project" mat-raised-button color="accent"
                    type="submit">Send</button>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <mat-error *ngIf="loginErrMsg">{{loginErrMsg}}</mat-error>
                </div>
              </form>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  
  </div>