<div class="my-account">
    <div class="header-title" style="background: url(assets/images/background/header.jpg);">
      <div class="container" id="mainDIV">
        <div class="title">
          <h2>Forget password</h2>
          <p>To change your password please set your email</p>
        </div>
      </div>
    </div>
    <div class="my-acc sec-padding" style="background: url(assets/images/background/download.svg);">
      <div class="container">
        <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0">
          <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
            <div class="login-wrapper pr-50" fxFlex="100">
              <!-- <div class="title">
                <h3>Login</h3>
              </div> -->
              <form fxLayout="row wrap" #forgetPasswordForm="ngForm" (ngSubmit)="onSubmit(forgetPasswordForm)">
                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Code" [(ngModel)]="formData.otp" name="otp" #code="ngModel"
                      required>
                    <mat-error *ngIf="code.invalid">
                      <div *ngIf="code.errors.required">Code is required</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <mat-form-field class="w-100">
                    <input matInput placeholder="Password" type="password" (ngModelChange)="isPasswordTouched = true" [(ngModel)]="formData.newPassword" name="newPassword" #newPassword="ngModel"
                      required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$">
                    <mat-error *ngIf="newPassword.invalid">
                      <div *ngIf="newPassword.errors.required">Password is required</div>
                      <div *ngIf="isPasswordTouched && newPassword.errors.pattern">Password must contain at least one lowercase letter, one uppercase letter, one digit, and be at least 8 characters long.</div>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <button [disabled]="forgetPasswordForm.invalid" class="btn-project" mat-raised-button color="accent"
                    type="submit">Update password</button>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                  <mat-error *ngIf="loginErrMsg">{{loginErrMsg}}</mat-error>
                </div>
              </form>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  
  </div>