<div class="w-full w-10/12">
    <div class="text-xl mt-5 ml-5">Plat Details</div>
    <div>
        <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{ alert.message }}
        </fuse-alert>
    </div>
    <form [formGroup]="platDetailsForm" (ngSubmit)="onSubmit()" #platDetailNgForm="ngForm">
        <div class="sm:col-span-4">
            <mat-form-field class="w-1/2 mt-4 mx-4">
                <input matInput placeholder="Name" formControlName="name" />
                <mat-error *ngIf="
                              platDetailsForm.get('name').invalid &&
                              platDetailsForm.get('name').touched">
                    Name is required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="sm:col-span-4">
            <div *ngFor="let item of inputFields">
                <div class="sm:col-span-4">
                    <mat-form-field class="w-1/2 mt-4 mx-4">

                        <mat-select #key="ngModel" [(ngModel)]="item.key" name="ingredientSelect">
                            <mat-option *ngFor="let ingredient of ingredients"
                                [value]="ingredient._id">{{ingredient.name}}</mat-option>
                        </mat-select>
                        <!-- <input matInput type="text" [(ngModel)]="item.key" [ngModelOptions]="{standalone: true}"
                            placeholder="Ingredient" required #key="ngModel"> -->
                    </mat-form-field>

                    <mat-error *ngIf="key.invalid && key.touched">
                        Ingredient is required.
                    </mat-error>
                </div>
                <div class="sm:col-span-4">
                    <mat-form-field class="w-1/2 mt-4 mx-4">
                        <input matInput type="number" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"
                            placeholder="Quantity" required min="1" #value="ngModel">
                    </mat-form-field>
                    <mat-error *ngIf="value.invalid && value.touched">
                        Ingredient value is required and greater that 0.
                    </mat-error>
                </div>
                <div class="sm:col-span-4">
                    <button class="mt-4 ml-4" mat-stroked-button color="warm" (click)="remove(item)">Remove</button>
                </div>
            </div>
            <button class="mt-4 ml-4" mat-flat-button color="primary" type="button" (click)="addInput()">Add
                Ingredients</button>
        </div>


        <div class="sm:col-span-4">
            <mat-form-field class="w-1/2 mt-4 mx-4">
                <input matInput type="number" placeholder="price" formControlName="price" />
                <mat-error *ngIf="
                              platDetailsForm.get('price').invalid &&
                                  platDetailsForm.get('price').touched">
                    price is required and greater that 0
                </mat-error>
            </mat-form-field>
        </div>

        <div class="sm:col-span-4">
            <label for="image" class="w-1/2 mt-4 mx-4">Image</label>
            <input id="image" type="file" accept=".jpg,.jpeg,.png" (change)="onAvatarChange($event)"
                formControlName="image" />
        </div>
        <div class="mt-4 mb-10 border-t"></div>

        <div class="flex items-center justify-end mb-10 mx-4">
            <button class="ml-4" mat-flat-button color="primary" type="submit" [disabled]="platDetailsForm.invalid">
                Save
            </button>
            <button class="mr-4 ml-4" mat-stroked-button type="button" (click)="goToPlatsList()">
                Cancel
            </button>
        </div>
    </form>
</div>