


<div class="container">
  <div class="header">
      <div class="header-wrapper"  fxLayout="row" fxLayoutAlign="space-between center">
          <div class="logo" [routerLink]="['/home']">
            <img src="./../../../../assets/images/logo-wb2.png" width="200" alt="">
          </div>
          <div fxLayout="row" *ngIf="isAutheticated" >
              <app-menu></app-menu>
              <app-shopping-widgets [shoppingCartItems]="shoppingCartItems"></app-shopping-widgets>
          </div>

        </div>
  </div>


</div>

