<div class="blog-details">
    <div class="header-title" style="background: url(assets/images/background/header.jpg);">
        <div class="container" id="mainDIV">
            <div class="title">
                <h2>Event details</h2>
            </div>
        </div>
    </div>
    <div class="blog-details-wrapper sec-padding" style="background: url(assets/images/background/download.svg);">
        <div class="container">
            <div class="blog-list-wrapper sec-padding" fxLayout="row" fxLayout.lt-md="column">
                <div fxFlex="100" fxFlex.gt-sm="70" class="main-blog-panel">
                    <div class="single-blog-list">
                        <div class="image-box">
                            <img src="assets/images/blog/b1.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h4>Event Name</h4>
                            <ul class="post-info" fxLayout="row">
                                <li><mat-icon color="primary" class="material-icons">access_time</mat-icon>Aug 21, 2015</li>
                                <li><mat-icon color="primary" class="mat-icon-lg mat-icon material-icons">person</mat-icon>Marc Kurcek</li>
                                <li><mat-icon color="primary" class="material-icons">sms</mat-icon>05 Comments</li>
                            </ul>
                            <p>Event description here</p>
                        </div>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-sm="30" class="sidebar">
                    <!-- Sidebar content -->
                </div>
            </div>

            <!-- Registration Form -->
            <div class="contact-form">
                <div class="header-title">
                    <h3>User Registration</h3>
                </div>
                <form fxLayout="row wrap">
                    <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="mt-20 pr-5" ngClass.sm="mt-10" ngClass.xs="mt-10">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="First name (required)" #firstName="ngModel" ngModel name="firstName" required>
                            <mat-error *ngIf="firstName.invalid">Please enter a valid first name</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" class="pl-5 mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Last name (required)" #lastName="ngModel" ngModel name="lastName" required>
                            <mat-error *ngIf="lastName.invalid">Please enter a valid last name</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" class="mt-20 pr-5" ngClass.sm="mt-10" ngClass.xs="mt-10">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Email Address (required)" #email="ngModel" ngModel name="email" required>
                            <mat-error *ngIf="email.invalid">Please enter a valid email address</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                        <mat-form-field class="w-100">
                            <textarea placeholder="Post content" matInput rows="4" ngModel name="content"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <button class="btn-project" mat-raised-button color="accent" type="submit">Submit Registration</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
