<div class="faq">
  <div class="header-title" style="background: url(assets/images/background/header.jpg);">
    <div class="container" id="mainDIV">
      <div class="title">
        <h2>FAQ</h2>
        <p>Welcome to our FAQ page! Here, we have compiled some common questions and their answers to provide you with helpful information about our website and the ingredients we sell for cooking delicious meals. If you have any other questions that are not addressed here, please feel free to reach out to our customer support team.</p>
      </div>
    </div>
  </div>
  <div class="faq-wrapper sec-padding" style="background: url(assets/images/background/download.svg);">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" class="p-0">
        <div fxFlex="100" fxFlex.gt-sm="50" class="questions">
          <div class="faq-wrap">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>How can I place an order on your website?</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Ordering from our website is quick and easy. Simply browse through our collection of ingredients, select the items you want, and add them to your cart. Once you're ready, proceed to the checkout page, where you can review your order and make any necessary adjustments. Finally, complete the payment process, and your order will be on its way!</p>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>What payment methods do you accept?</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>We accept various payment methods to accommodate our customers. You can pay for your order using major credit cards, such as Visa, Mastercard, and American Express. Additionally, we also offer secure online payment options like PayPal and Apple Pay.</p>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>How long does shipping take?</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>We strive to ensure that your ingredients reach you in a timely manner. Our shipping times may vary depending on your location and the shipping method chosen. Generally, orders are processed and shipped within 1-2 business days. Once shipped, the delivery time typically ranges from 3-7 business days, but please note that these are estimated times and may vary.</p>
              </mat-expansion-panel>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <span>What is your return policy?</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <p>We want you to be completely satisfied with your purchase. If you receive damaged or incorrect items, please contact our customer support team within 48 hours of receiving your order. We will gladly assist you in resolving the issue. However, due to the nature of our products, we do not accept returns for items that are not damaged or incorrect.</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="faq-form">
          <div class="text-wrap">
            <div class="title">
              <h3>Claim something</h3>
            </div>
            <p>Welcome to our Claim Submission page. We understand that issues may arise, and we are committed to resolving them promptly and to your satisfaction. Please provide us with the necessary details regarding your claim using the form below. Our dedicated team will review your submission and take appropriate action to address your concerns. Thank you for reaching out to us, and we appreciate your patience throughout the process.</p>
            <form (submit)="submitClaim(claimDescription.value, reclamationType.value)" fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <mat-form-field class="w-100">
                  <textarea matInput placeholder="Description of the Claim" #claimDescription="ngModel" ngModel name="claimDescription" required></textarea>
                  <mat-error *ngIf="claimDescription.invalid">Please enter a valid description</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <mat-form-field class="w-100">
                  <mat-label>Reclamation Type</mat-label>
                  <mat-select placeholder="Select Reclamation Type" #reclamationType="ngModel" ngModel name="reclamationType" required>
                    <mat-option value="Shipping">Shipping</mat-option>
                    <mat-option value="Product">Product</mat-option>
                    <mat-option value="Service">Service</mat-option>
                    <mat-option value="Warranty">Warranty</mat-option>
                  </mat-select>
                  <mat-error *ngIf="reclamationType.invalid">Please select a reclamation type</mat-error>
                </mat-form-field>
              </div>
              <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                <button class="btn-project" mat-raised-button style="background-color: lightgreen;" type="submit">SUBMIT CLAIM</button>
              </div>
            </form>

            <!-- Add the following code for success message -->
            <div *ngIf="claimCreated" class="success-message">
              Claim created!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
